<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Likes</title>
</head>
<body>
    <div class="iframes-wrapper">
        <ul class="iframes-list">
           <%  if(arr.length) { %>
           <% arr.forEach(v=> { %>
            <a href=<%= "http://localhost:5000/video/" + v.id%> class="iframe">
            <video src=<%= "http://localhost:5000/" + v.name %> controls=""></video>
            <div class="iframe-footer">
                <div class="iframe-footer-text">
                    <h2 class="iframe-title"><%= v.title%></h2>
                    <h4 style="color: gray; margin-top: 5px; text-align: end;">Views <%= v.views.length%></h4>
                    <time class="uploaded-time"><%= v.date.split("T")[0] + "/" + v.date.split("T")[1].split(".")[0]%></time>
                </div>                  
            </div>
        </a>
        <%})} else { %>
                <h1 style="margin-top: 350px; width: 100%; text-align: center; font-size: 60px; ">No more liked Videos</h1>
       <% } %> 
       
      </ul>
    </div>
</body>
</html>